#content hr {
  margin-bottom: 20px;
}

div .image {
  margin-top: 5px;
  overflow-x: auto;
  white-space: nowrap;
}

#content img {
  overflow: hidden;
  display: block;
  width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  #content h6 {
    padding: 10px;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-style: bold;
  }

  #content img {
    width: 800px;
  }

  p.info {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  td,
  th {
    padding: 30px;
  }
}

@media screen and (max-width: 1250px) {
  #content h6 {
    padding: 20px;
    padding-bottom: 20px;
    font-size: 3em;
    font-style: bold;
  }
}