#content p {
  font-size: 1.3em;
  margin-top: 30px;
}
#content div{
  text-align: center;
  color: blue;
}
form {
  margin-top: 30px;
}

#content label {
  font-size: 1.3em;
}

#content input[type="text"] {
  display: block;
  width: 75%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 2px;
  height: 30px;
  border: none;
  font-size: 1.3em;
  background-color: lightgray;
}
#content table{
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid;

}
#content th{
  font-size: 1.3em;
  text-align: center;
}
#content td{
  font-size: 1.1em;
  border: 1px solid;
}

#content textarea {
  display: block;
  width: 75%;
  margin-top: 30px;
  padding: 2px;
  border: none;
  font-size: 1.3em;
  background-color: lightgray;
}

#content button[type="submit"] {
  background-color: lightgray;
  border: none;
  font-size: 1.3em;
  margin-top: 30px;
  padding: 10px 20px;
}

#content button[type="submit"]:hover {
  cursor: pointer;
  color: white;
}

#content .flash {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
}
