.course-description,
.lecture-information,
.news {
  margin-top: 10px;
  padding: 40px;
}

.course-description h3 {
  text-decoration: underline;
}

.course-description p {
  margin-top: 10px;
}

.course-description p,
.lecture-information p,
.news p {
  margin-top: 10px;
}

.course-description p span,
.lecture-information p span {
  text-decoration: underline;
  font-weight: bold;
}

#content h2,
.lecture-information h3,
.news h3 {
  font-size: 2.4em;
  color: #666666;
  font-weight: 100;
}