#content p{
    font-size: 1.3em;
    margin-top: 30px;
  }
  #content .tbody {
    overflow-x: auto;
}
  #content table {
    border-collapse: collapse;
    border: 1px solid;
    text-align: left;
    width: 100%;
    overflow-x: auto;
    overflow: hidden;
}
#content th,
#content td {
    border: 1px solid;
    padding: 20px;
    word-wrap: break-word;
}
#content td{
    word-wrap: break-word;
}
#content th {
    border-bottom: 2px solid;
    width: 10%;
}