#content {
  padding: 50px 50px 100px;
  background-color: white;
}

#content h1 {
  font-size: 2.5em;
}

#content p {
  padding: 10px 0px;
}

#content .tbody {
  overflow-x: auto;
  white-space: nowrap;
}

#content table {
  border-collapse: collapse;
  border: 1px solid;
  text-align: left;
  width: 100%;
  overflow-x: auto;
  overflow: hidden;
}

#content th,
#content td {
  border: 1px solid;
  padding: 20px;
}

#content th {
  border-bottom: 2px solid;
  width: 10%;
}

#content h6 {
  margin-left: 10px;
  font-size: 2em;
  margin-bottom: 10px;
}

p .info {
  margin-left: 10px;
  padding-bottom: 5px;
}

#content a:link,
#content a:visited {
  color: #666666;
}

#content a:hover {
  color: #AAAAAA;
}

#content a:active {
  color: #DDDDDD;
}

td {
  text-align: center;
  box-sizing: content-box;
}

@media screen and (max-width: 600px) {
  #content h6 {
    padding: 10px;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-style: bold;
  }
}


@media screen and (max-width: 900px) {

  #content {
    padding: 20px 20px 100px;
  }

  td {
    text-align: center;
    box-sizing: content-box;
  }
}