#content {
  padding: 50px 50px 100px;
  background-color: white;
}

#content h1 {
  font-size: 2.5em;
}

#content h3 {
  padding: 30px;
  font-size: 2em;
}

p.info {
  padding: 20px;
}

#content .tbody {
  overflow-x: auto;
  white-space: nowrap;
}

#content table {
  border-collapse: collapse;
  border: 1px solid;
  text-align: left;
  width: 100%;
  overflow-x: auto;
  overflow: hidden;
}

#content th,
#content td {
  border: 1px solid;
  padding: 20px;
}

#content th {
  border-bottom: 2px solid;
}

td {
  border-color: cadetblue;
  box-sizing: content-box;
  width: 10%;
  height: 20%;
  text-align: center;
}

@media screen and (max-width: 900px) {
  #content {
    padding: 20px 20px 100px;
  }
}