#content p {
  font-size: 1.3em;
  margin-top: 30px;
  margin-bottom: 30px;
}

#content .tbody {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 30px;
}

#content table {
  border-collapse: collapse;
  border: 1px solid;
  text-align: left;
  width: 50%;
  overflow-x: auto;
  overflow: hidden;
}

#content th,
#content td {
  border: 1px solid;
  padding: 20px;
  width: 40px;
}
#content th {
  border-bottom: 2px solid;
}
