#content p {
  font-size: 1.3em;
  margin-top: 30px;
  margin-bottom: 30px;
}

#content .tbody {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 30px;
}

#content hr {
  margin-top: 30px;
  width: 75%;
}

#content table {
  border-collapse: collapse;
  border: 1px solid;
  text-align: left;
  width: 50%;
  overflow-x: auto;
  overflow: hidden;
  margin-bottom: 30px;
}

#content th,
#content td {
  border: 1px solid;
  padding: 20px;
  width: 40px;
}
#content th {
  border-bottom: 2px solid;
}

form {
  margin-top: 30px;
}

#content label {
  font-size: 1.3em;
}

#content input[type="text"],
#content select {
  display: block;
  width: 75%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 2px;
  height: 30px;
  border: none;
  font-size: 1.3em;
  background-color: lightgray;
}

#content select {
  width: auto;
}

#content textarea {
  display: block;
  width: 75%;
  margin-top: 30px;
  padding: 2px;
  border: none;
  font-size: 1.3em;
  background-color: lightgray;
}

#content input[type="submit"] {
  background-color: lightgray;
  border: none;
  font-size: 1.3em;
  margin-top: 30px;
  padding: 10px 20px;
}

#content input[type="submit"]:hover {
  cursor: pointer;
  color: white;
}
