#content a:link,
#content {
    padding: 50px 50px 100px;
    background-color: white;
}

#content h1 {
  font-size: 2.5em;
}

#content h2 {
  margin-top: 30px;
  font-size: 1.3em;
  text-decoration: underline;
  margin-bottom: 15px;
}

#content .tbody {
  overflow-x: auto;
  white-space: nowrap;
}

#content table {
  border-collapse: collapse;
  border: 1px solid;
  text-align: left;
  width: 100%;
  overflow-x: auto;
  overflow: hidden;
}

#content th,
#content td {
  border: 1px solid;
  padding: 20px;
}

#content th {
  border-bottom: 2px solid;
}

.extra-info {
  margin-top: 40px;
}

.extra-info p {
  padding: 10px 0%;
}

.extra-info li {
  padding: 5px;
  margin-left: 40px;
}

@media screen and (max-width: 900px) {
  #content {
    padding: 10px;
  }

  #content h1 {
    margin-top: 40px;
  }

  #content th,
  #content td {
    padding: 20px 7px;
  }

}
