<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/feedback.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/feedback.js') }}"></script>
    <title>CSCB20 - Feedback</title>
  </head>

  <body>
    {% extends "template.html" %} {% block content %}
    <section id="content">
      <h1>Feedback</h1>
      <p>
        Use the form below to provide an anonymous feedback to the instructor.
      </p>
      <form action="{{ url_for('feedback') }}" method="POST">
        <label for="InstructorName_ID"
          >Instructor's name for this feedback</label
        >
        <select name="InstructorName_ID" id="InstructorName_ID">
          {% for Instructor in query_intructor_result %}
          <option value="{{ Instructor.username }}">
            {{ Instructor.username }}
          </option>
          {% endfor %}
        </select>

        <label for="Ans1"
          >What do you like about the instructor teaching?</label
        >
        <textarea
          name="Ans1_ID"
          id="Ans1_ID "
          type="text"
          required
          cols="30"
          rows="10"
        ></textarea>

        <label for="Ans2"
          >What do you recommend the instructor to do to improve their
          teaching?</label
        >
        <textarea
          name="Ans2_ID"
          id="Ans2_ID "
          type="text"
          required
          cols="30"
          rows="10"
        ></textarea>

        <label for="Ans3">What do you like about the labs?</label>
        <textarea
          name="Ans3_ID"
          id="Ans3_ID "
          type="text"
          required
          cols="30"
          rows="10"
        ></textarea>

        <label for="Ans4"
          >What do you recommend the lab instructors to do to improve their lab
          teaching?</label
        >
        <textarea
          name="Ans4_ID"
          id="Ans4_ID "
          type="text"
          required
          cols="30"
          rows="10"
        ></textarea>
        <p id="message"></p>
        <input type="submit"></input>
      </form>
    </section>
    {% endblock %}
  </body>
</html>
