<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    <title>CSCB20 - Home</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <div id="content">
        <h1>CSCB20 - Introduction to Databases and Web Applications</h1>
        {% if session.name %}
        <h2>Welcome to CSCB20, {{session.type}} {{session.name}}</h2>
        {% else %}
        <h2>Welcome to CSCB20</h2>
        {% endif %}
        <div class="course-description">
            <h3>Course Description:</h3>
            <p>
                A practical introduction to databases and Web app development.
                Databases: terminology and applications; creating, querying and
                updating databases; the entity-relationship model for database design.
                Web documents and applications: static and interactive documents; Web
                servers and dynamic server-generated content; Web application
                development and interface with databases.
            </p>
            <p>
                <span>Prerequisite:</span> Some experience with programming in an
                imperative language such as Python, Java or C.
            </p>
            <p>
                <span>Exclusion:</span> This course may not be taken after - or
                concurrently with - any C- or D-level CSC course.
            </p>
            <p><span>Syllabus:</span> <a href="Pdf/Dummy.pdf" target="_blank">PDF</a></p>
        </div>
        <hr />
        <div class="lecture-information">
            <h3>Lecture Information</h3>
            <p><span>Time:</span> Monday 9:00 - 11:00</p>
            <p><span>Building:</span> SW319</p>
        </div>
        <hr />
        <div class="news">
            <h3>News</h3>
            <p>February 28: Assignment 2 is out now!!!</p>
        </div>
    </div>
    {% endblock %}
</body>

</html>