<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Instructor_feedback.css') }}" />
    <title>CSCB20 - Feedback</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <section id="content">
        <h1>Feedback</h1>
        <p>Here are the feedback provided by the students</p>
        <div class="tbody">
        <table>
            <tbody>
            <tr>
                <th>Q1 What do you like about the instructor teaching?</th>
                <th>Q2 What do you recommend the instructor to do to improve their teaching?</th>
                <th>Q3 What do you like about the labs?</th>
                <th>Q4 What do you recommend the lab instructors to do to improve their lab teaching?</th>
            </tr>
            {% for feedback in query_feedback_result %}
            <tr>
                <td>{{ feedback.q1 }}</td>
                <td>{{ feedback.q2 }}</td>
                <td>{{ feedback.q3 }}</td>
                <td>{{ feedback.q4 }}</td>
            </tr>
            {% endfor %}
        </table>
        </tbody>
        </div>
    </section>
    {% endblock %}
</body>

</html>