<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lectures.css') }}" />
    <title>CSCB20 - Lectures</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <div id="content">
        <h1>Lecture Slides</h1>
        <p class="info">Each week's lecture materials and in class-work</p>
        <div class="tbody">
            <table>
                <tbody>
                    <tr>
                        <th>Week</th>
                        <th>Topic</th>
                        <th>Reading</th>
                        <th>Lecture Material</th>
                        <th>In Class</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Relation Algebra</td>
                        <td><a href="https://dbis-uibk.github.io/relax/calc/local/uibk/local/0" target="_blank">Relational Algebra
                                Calculator</a>
                        </td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">Week1 Relation Algebra</a>
                        </td>
                        <td><a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank"></a>Worksheet <a href="">Worksheet soln</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Wrapping up Relational Algebra and starting with SQL</td>
                        <td><a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">SQLite</a></td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">RA and Intro to SQL</a>
                        </td>
                        <td><a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">Worksheet</a>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">Solutions</a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>SQL Queries</td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">Resources</a>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">Division Operator in RA</a>
                        </td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">SQL</a>
                        </td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">More SQL queries practice</a>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>SQL subqueries and Introduction to Web Development</td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">Databases</a>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">RA algorithms</a>
                        </td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">SQL-subqueries</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Introduction to Flask, Introduction to HTML and CSS</td>
                        <td><a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">Code handout</a></td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">Intro to Web Development</a>
                        </td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">All about Flask</a>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">Python Flask Project</a>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>HTML Forms, CSS Box Model, Flexbox, Grid</td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">Code handout</a>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">HTML and CSS(read before next week)</a>
                        </td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">HTML and CSS, Flask(Recorded)</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Media Queries, Introduction to JavaScript</td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">Code handout</a>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">JavaScript Documentation</a>
                        </td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">Media Queries and JavaScript</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Flask and SQL</td>
                        <td><a href="">Flask-SQLAlchemy </a></td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">SQLite and Flask</a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Flask, Sessions and Authentication</td>
                        <td><a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">Documentations for Flask</a></td>
                        <td>
                            <a href="{{ url_for('static', filename='pdf/Dummy.pdf') }}" target="_blank">Sessions, Password Hasing, User Authentication</a>
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td></td>
                        <td></td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td></td>
                        <td></td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
</body>

</html>