<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/student_grades.css') }}"
    />
    <title>CSCB20 - Grades</title>
  </head>

  <body>
    {% extends "template.html" %} {% block content %}
    <section id="content">
      <h1>Grades</h1>
      <p>
        Hi {{ session.name }}! This is where you can see all of your grades, and
        request a regrade
      </p>
      <table>
        <tr>
          <th>A1</th>
          <th>A2</th>
          <th>A3</th>
          <th>Midterm</th>
          <th>Final</th>
        </tr>
        <tr>
          {% for grade in [a1, a2, a3, mid, final] %}
          <td>{% if grade == -1 %}{% else %}{{ grade }}{% endif %}</td>
          {% endfor %}
        </tr>
      </table>
      <h2>Request regrade:</h2>
      <hr />
      <form action="http://127.0.0.1:5000/grades" method="post">
        <label for="assesment">Assesment:</label>
        <select name="assesment" id="assesment">
          {% if a1 >= 0 %}
          <option value="A1">A1</option>
          {% endif %} {% if a2 >= 0 %}
          <option value="A2">A2</option>
          {% endif %} {% if a3 >= 0 %}
          <option value="A3">A3</option>
          {% endif %} {% if mid >= 0 %}
          <option value="Midterm">Midterm</option>
          {% endif %} {% if final >= 0 %}
          <option value="Final">Final</option>
          {% endif %}
        </select>
        <label for="explanation">Explanation</label>
        <textarea
          name="explanation"
          id="explanation"
          cols="30"
          rows="10"
          required
        ></textarea>
        <input type="submit" />
      </form>
    </section>
    {% endblock %}
  </body>
</html>
